<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario</title>
</head>

<body>

  <h1>Cadatro da Agenda Telefônica</h1>

  <form action="/" method="POST">
    Nome: <input type="text" name="Nome">
    Sobrenome: <input type="text" name="Sobrenome">
    <br><br>
    Telefone: <input type="number" name="Telefone">
    E-mail: <input type="email" name="Email">
    <br><br>
    <input type="submit" value="Enviar">
  </form>
</body>

</html>

<!--Compusto: Beatriz, Igo Matheus-->